
table
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 2px;
}

th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: coral;
}

td
{
    padding: 8px;
    border: 1px solid #dddddd;
}


tr:nth-child(even) {
    background-color: #dddddd;
}

.CajaTexto
{
     border: 3px solid black;
    
}

.encabezado
{
    text-align: center;
    background: lightblue url("fondo.jpg") no-repeat fixed center; 
}

h3
{
    text-align: center;
}
h1 
{
    text-align: center;
    color: blue;

}

.botones
{
   margin-left: auto;
   margin-right: auto;
}




