
#bloqueIzq
{
    width: 70%;
    display: inline-block;
}


#bloqueDerecho
{
    display: inline-block;
    vertical-align: top;
    color: blue;
    width: 27%;
   
}

#menu
{
    background-color: pink;
    
}
   
#menu ul
{ 
       
        text-align: center;  
        list-style-type: none;
        margin-left: 0px;
        padding: 5px;
        max-width: 611px;
        margin: 0px auto;
}

#menu li
{

    color: white;
    text-decoration-color: white;
    display: inline;
    text-align: center;
    margin: 0 71px 0 0;
}


main
{
   
    text-align: justify;
    margin-left: 200px;
    margin-right:500px;
    max-width: 828px;
    width: 100%;

}

header
{
   text-align: left;
   margin-left: 200px;
}
 
footer 
{
    background-color: #C62440;

}

.Contenedor
{
    max-width: 828px;
    margin: 0px auto;
}

.FooterIzquierdo
{
    display: inline-block;
    vertical-align: top;
    width: 40%

}

.FooterIzquierdo p
{
    text-align: justify;
}

.FooterDerecho ul
{
    list-style: none;
    

}

.FooterDerecho ul li
{
    display: inline-block;
}

.FooterDerecho
{
    display: inline-block;
    vertical-align: top;
    width: 40%

}