header
{
    text-align: center;
    background-color: green;
    font: Arial;

}
input
{
    box-shadow: 0 0 12px 4px black;
}

body
{
    text-align: center;
}

.tabla 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 3px;
  

}

td,th
{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color: #7b4040;
}